[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nltk = "*"
pandas = "*"
tqdm = "*"
iprogress = "*"
ipywidgets = "*"
scikit-learn = "*"
pymupdf = "*"
bs4 = "*"
matplotlib = "*"
setuptools = "*"
wheel = "*"
cupy-cuda12x = "*"
requests = "*"
pip = "*"
datasets = "*"
evaluate = "*"
accelerate = "*"
optimum = "*"
sentence-transformers = "*"
einops = "*"
xformers = "*"
fast-fit = "*"
setfit = {ref = "dont-use-deprecated-dataset-filter", git = "git+https://github.com/Wauplin/setfit"}
transformers = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
